.carousel-container {
  display: flex;
  justify-content: center;
  padding: 20px 20px 0 20px;
}

.carousel-control-next,
.carousel-control-prev {
  align-items: center;
  height: 40%;
}

.details-btn {
  color: white;
  padding: 3px;
  text-decoration: none;
}

.highlight-img {
  border-radius: 3px;
  width: 100%;
}

highlight-info,
.text-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.highlights {
  color: rgba(255, 0, 0, 0.75);
  font-weight: 500;
}

@media screen and (min-width: 1920px) {
  .active.carousel-item {
    display: flex;
    flex-direction: row;
  }

  .active .card-container {
    border: none;
    width: 50%;
  }

  .active .card-container .cards-btns {
    z-index: 2;
  }

  .carousel-container {
    justify-content: center;
  }

  .carousel-control-next,
  .carousel-control-prev {
    align-items: center;
    height: auto !important;
  }

  .carousel-item {
    padding: 20px 20px 0 20px;
  }

  .highlight-img {
    border-radius: 15px;
    flex: 1;
    height: 400px;
    max-height: 100%;
    object-fit: cover;
    padding: 10px;
    width: 100%;
  }
}