.card-container {
    padding: 16px 5px;
  }
  
  .cards-btns {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 30px;
  }
  
  .fav-input {
    display: none;
  }

  .fav-icon {
    width: 40px;
  }

  .navbar-nav {
    padding: 1px;
  }

  .navbar {
    margin-top: 10px;
  }

  hr {
    margin-bottom: 0;
  }

.cardslist-container {
  padding: 20px;
 }

.toogle-list-input {
  display: none;
}

.toggle-list-div {
  display: none;
}


@media screen and (min-width: 1280px) {
  .active.carousel-item {
    display: flex;
    flex-direction: row;
  }

  .highlight-img {
    height: 400px;
    padding: 10px;
    flex: 1; 
    width: 100%; 
    object-fit: cover; 
    max-height: 100%; 
  }
.active .card-container {
  border: none;
  width: auto;
}
  .cardslist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card-container {
    width: 400px;
    border: 1px solid grey;
    border-radius: 6px;
    margin: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%;
    padding: 10px 16px 0 16px;
  }

  .list {
    width: fit-content;
  }

  .toggle-list-div {
    display: block;
  }

  .navbar {
    padding: 10px 20px;
  }

  hr {
    display: none;
  }

  .carousel-item {
          /* width: 700px; */
    padding: 20px 20px 0 20px;
  }

  /* Adicione estilos adicionais específicos para 1440px aqui */
}