.navbar-nav {
  padding: 1px;
  margin: auto;
}

.navbar {
  margin-top: 10px;
  background-color: #1f2631 !important;
}

.nav-link {
  color: #e1f2d5;
}

.nav-link:hover {
  color: #e1f2d5;
  background-color: #ffffff1e;
  border-radius: 5px;
}

.nav-link:focus {
  color: #e1f2d575;
}

.toggle-list-div {
  display: none;
}

.toogle-list-input {
  display: none;
}

.cardslist-container {
  padding: 20px;
}

.card-container {
  padding: 16px 5px;
}

.cards-btns {
  display: flex;
  justify-content: space-between;
  margin: 4px 0 30px;
}

.fav-input {
  display: none;
}

.fav-icon {
  cursor: pointer;
  width: 40px;
}

hr {
  margin-bottom: 0;
}

@media screen and (min-width: 1920px) {
  .navbar {
    padding: 10px 65px;
  }

  .navbar-nav {
    padding: 1px;
    margin: 0;
  }

  .toggle-list-div {
    display: block;
  }

  .toggle-list {
    cursor: pointer;
  }

  .card-container {
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px 0 16px;
  }
  
.cardslist-container div div .list {
    display: block;
    width: 97%;
  }

  .infinite-scroll-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  hr {
    display: none;
  }

  .loading {
    display: block;
    width: 100%;
    text-align: center;
  }
}
