.card-container {
    padding: 16px 5px;
  }
  
  .cards-btns {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 30px;
  }
  
  .fav-input {
    display: none;
  }

  .fav-icon {
    width: 40px;
  }

  .navbar-nav {
    padding: 1px;
  }

  .navbar {
    margin-top: 10px;
  }

  hr {
    margin-bottom: 0;
  }

.cardslist-container {
  padding: 20px;
 
}